<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo se usa en el proceso de publicación y empaquetado del proyecto web. Para personalizar el comportamiento de este proceso,
edite el archivo MSBuild. Visite https://go.microsoft.com/fwlink/?LinkID=208121 para obtener más información. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/7786e07e-c403-4629-aed6-b3f64092f4e8/resourceGroups/alejandro.gonzalezv-rg/providers/Microsoft.ContainerRegistry/registries/residuosclientecore</ResourceId>
    <ResourceName>residuosclientecore</ResourceName>
    <ResourceGroup>alejandro.gonzalezv-rg</ResourceGroup>
    <Subscription>Azure para estudiantes</Subscription>
    <RegistryUrl>https://residuosclientecore.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>668cff12-3aa5-4ca6-9bc5-e5d69db454f4</ProjectGuid>
  </PropertyGroup>
</Project>